%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

%hidden-text {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

%visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

%icon {
	font-family: 'wb-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	vertical-align: middle;
}

%post-content {
	p {
		@include rem(margin-bottom, 40px);
	}
	p, li {
		@include font(14px, 25px);
		@include mq(tablet) {
			@include font(19px, 29px);
		}
	}
	blockquote {
		color: $white;
		background-color: $blue;
		margin: $gutter/2 $gutter*-1;
		padding: $gutter/2 $gutter;
		@include themes((background-color: normal), 'body');
		@include mq(tablet-wide) {
			margin: $gutter $gutter*-2;
			padding: $gutter $gutter*2;
		}
		cite {
			@include font(10px, 22px, $weight: $font-semibold, $style: normal);
			@include mq(tablet) {
				@include font(16px, 28px);
			}
		}
		a {
			color: $white !important;
			text-decoration: underline;
			&:hover {
				color: $gray-light;
				text-decoration: none;
			}
		}
	}
	// blockquote
	.pullquote {
		color: $white !important;
		background-color: $blue;
		@include themes((background-color: normal), 'body');
		@include mq(tablet) {
			width: 50%;
			padding: $gutter $gutter $gutter $gutter*2;
			float: left;
			margin-left: $gutter*-2;
			margin-right: $gutter*2;
		}
		p {
			@include font(14px, 22px, $weight: $font-semibold);
			@include mq(tablet) {
				@include font(24px, 32px);
			}
		}
		&.right {
			@include mq(tablet) {
				float: right;
				padding: $gutter $gutter*2;
				margin-right: $gutter*-2;
				margin-left: $gutter*2;
			}
		}
	}
	// .pullquote
	.list {
		@include font(16px, 23px, $weight: $font-bold);
		@include mq(tablet) {
			border-right: 5px solid $body-bg;
			width: 50%;
			padding: $gutter $gutter $gutter $gutter*2;
			float: left;
			margin-left: $gutter*-2;
			margin-right: $gutter*2;
		}
		&.right {
			@include mq(tablet) {
				border-right: 0;
				border-left: 5px solid $body-bg;
				float: right;
				padding: $gutter $gutter*2;
				margin-right: $gutter*-2;
				margin-left: $gutter*2;
			}
		}
		h3 {
			text-transform: uppercase;
			margin-top: 0;
			@include font(17px, 25px, $weight: $font-semibold);
		}
		ol,
		ul {
			margin: 0;
			padding: 0;
			list-style-position: inside;
			li {
				margin-bottom: $gutter;
				color: $blue;
				@include font(16px, 23px);
				@include themes((color: normal), 'body');
			}
			li:last-child {
				margin-bottom: 0;
			}
		}
	}
	// .list
	table {
		width: 100%;
		border-color: $gray;
		@include font(12px, 21px);
		@include mq(tablet) {
			@include font(14px, 25px);
		}
		th,
		td {
			vertical-align: top;
			padding: $small-gutter;
			@include mq(tablet) {
				@include font(14px, 25px);
			}
			p {
				@include font(12px, 21px);
				@include mq(tablet) {
					@include font(14px, 25px);
				}
			}
		}
	}
	// table
	.alignleft, img.alignleft {
		margin-right: $gutter;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: $gutter;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}
	.wp-caption {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		text-align: center;
		padding-top: 5px;
		max-width: 100%;
	}
	.wp-caption img {
		border: 0 none;
		padding: 0;
		margin: 0;
	}
	.wp-caption p.wp-caption-text {
		line-height: 1.5;
		font-size: 14px;
		margin: 10px 0;
	}
	.wp-smiley {
		margin: 0 !important;
		max-height: 1em;
	}
}