// Ratios
.fixed-ratio {
	display: block;
	position: relative;
	&:after {
		display: block;
		width: 100%;
		padding-top: 100%;
		content: "";
	}
}
.fixed-ratio-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.ratio--portrait:after,
.ratio--53-69:after {
	padding-top: 130.19%;
}
.ratio--1-1:after {
	padding-top: 100%;
}
.ratio--thumbnail:after,
.ratio--64-61:after {
	padding-top: 95.31%;
}
.ratio--4-3:after {
	padding-top: 75%;
}
.ratio--16-9:after {
	padding-top: 56.25%;
}
.ratio--2-1:after {
	padding-top: 50%;
}
.ratio--superfeature:after {
	padding-top: 0;
	background-color: $black;
	@include mq(tablet) {
		padding-top: 26.72%;
	}
}
.ratio--116-31:after {
	padding-top: 75%;
	background-color: $black;
	@include mq(tablet) {
		padding-top: 26.72%;
	}
}
.ratio-superfeature-image:after,
.ratio--64-31:after {
	padding-top: 48.43%;
}

.fixed-ratio.video-wrapper iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}