.posts-filter {
	background-color: $post-bg;
	text-transform: uppercase;
	color: $gray-dark;
	margin-bottom: $gutter;
	padding: $small-gutter;
	@include font(12px, $family: $font-sans-alt, $weight: $font-bold);
	@include mq(tablet) {
		padding: $large-gutter;
		@include font(16px);
	}
	@include mq(tablet-wide) {
		margin-bottom: $wide-gutter;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-block;
		li {
			display: inline-block;
			margin-left: 10px;
			&.custom-case {
				text-transform: none;
			}
			&.current-menu-item a {
				color: $gray-dark;
				&:before {
					@extend %icon;
					content: "\e116";
					position: absolute;
					left: 0;
					top: 3px;
					@include themes((color: normal), 'body');
				}
			}
			a {
				color: $gray;
				position: relative;
				padding-left: 25px;
				&.active,
				&:hover {
					color: $gray-dark;
					&:before {
						@extend %icon;
						content: "\e116";
						position: absolute;
						left: 0;
						top: 3px;
						@include themes((color: normal), 'body');
					}
				}
			}
		}
	}
}
.subscribe-link {
	float: right;
	color: $gray-dark;
	&:hover {
		color: $gray;
	}
	.icon {
		margin-right: 5px;
		margin-top: -2px;
		display: inline-block;
	}
	span {
		display: none;
		@include mq(tablet) {
			display: inline-block;
		}
	}
}