$ms-green-bg: #107C10;
$ms-blue-bg: #0078D7;
$ms-dark-blue-bg: #002050;
$ms-yellow-bg: #FFB900;
$ms-orange-bg: #D83B01;
$ms-red-bg: #E81123;
$ms-magenta-bg: #B4009E;
$ms-purple-bg: #5C2D91;
$ms-teal-bg: #0078D7;


